<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- Environment setting - will be tokenized during deployment -->
    <add key="Environment" value="__ENVIRONMENT__" />
    <add key="ApplicationVersion" value="1.0.0" />
    <add key="ApplicationName" value="VB.NET Web Forms POC" />

    <!-- API Keys - fetched from Azure Key Vault during deployment -->
    <add key="ApiKey" value="__API_KEY__" />
    <add key="ApiEndpoint" value="__API_ENDPOINT__" />
  </appSettings>

  <connectionStrings>
    <!-- Connection strings - tokenized and replaced during deployment -->
    <add name="DefaultConnection"
         connectionString="__CONNECTION_STRING__"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.8" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>

    <!-- Custom errors - different per environment -->
    <customErrors mode="__CUSTOM_ERRORS_MODE__" defaultRedirect="Error.aspx">
      <error statusCode="404" redirect="NotFound.aspx" />
      <error statusCode="500" redirect="Error.aspx" />
    </customErrors>

    <!-- Session state -->
    <sessionState mode="InProc" timeout="20" />

    <!-- Authentication -->
    <authentication mode="None" />

    <!-- Authorization -->
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />

    <!-- IIS rewrite rules (if needed) -->
    <rewrite>
      <rules>
        <!-- Add rewrite rules here -->
      </rules>
    </rewrite>

    <!-- Static content caching -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>

    <!-- Security headers -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>

    <!-- Error pages -->
    <httpErrors errorMode="__HTTP_ERRORS_MODE__" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
